<div class="container" ng-controller="PriceProductCtrl as priceproduct_ctrl">
    <div class="col-sm-12">
          <div class="row">
            <div class="text-center col-sm-12">
                <h2>
                    Histórico de Preços
                </h2>
                <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                      <th>ID</th>
                      <th>PRODUTO</th>
                      <th>VALOR</th>
                      <th>DATA DE CÁLCULO</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="price in priceproduct_ctrl.prices">
                    <td>{{ price.id }}</td>
                    <td>{{ price.product_name }}</td>
                    <td>{{ price.average_price }}</td>
                    <td>{{ price.creation_date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
    </div>
</div>
